@{
    Layout = null; // No layout - raw HTML for scraping
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Raw Twitter Feed</title>
</head>
<body>
    <!-- Direct SociableKit iframe embed - Updated embed ID -->
    <iframe src="https://widgets.sociablekit.com/twitter-feed/iframe/25590789" 
            width="100%" 
            height="600" 
            style="border:none;">
    </iframe>
    
    <!-- Alternative: Direct widget -->
    <div class='sk-ww-twitter-feed' data-embed-id='25590789'></div>
    <script src='https://widgets.sociablekit.com/twitter-feed/widget.js'></script>
</body>
</html>
